@model MVC_CRUD_Project.Models.EmployeeModel

@{
    ViewBag.Title = "Index";
}

<h2>Employee page</h2>

<h3>Go to Employees @Html.ActionLink("List", "ListAll", "Employee", new { area = "" }, null)</h3>